@model IEnumerable<TodosWeb.Models.Todo>

<div class="container p-3">
    <h1 class="text-primary col-6">Todos</h1>
    <a asp-controller="Todo" asp-action="Create" class="btn btn-primary">Add new todo</a>
</div>
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-8">Task</th>
                <th class="col-2">Is Completed</th>
                <th class="col-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Model)
            {
                <tr class="p-3">
                    <td>@todo.Task</td>
                    <td>
                        <input type="checkbox" disabled asp-for="@todo.IsCompleted" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-Id="@todo.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-Id="@todo.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>No todos created.</div>
}
